<% include commons/header %>

    <h1>Welcome Music !</h1>

    <% if (error) { %>

        <h4> <%= error %> </h4>

    <% } %>

    <ul>
        <% for (var musics of music) { %>
            <li>
                <%= musics.id + " : " + musics.label %>
            </li>

        <% } %>
        
    </ul>

    <form method="POST" action="/addmusic">
       <input type="text" name="title">
       <input type="submit" value="Ajouter">
    </form>


    <% if (insert_error) { %>

        <h4> <%= insert_error %> </h4>

    <% } %>


<% include commons/footer %>
