<% include commons/header %>

    <h1>Welcome Music !</h1>
    <ul>
        <% for (var musics of music) { %>
            <li>
                <%= musics %>
            </li>

        <% } %>
        
    </ul>
    
<% include commons/footer %>
